{% set title="Add Purchase Invoice" %} {% extends "blueprint.html" %} {% block body %}

<form method="post">
	<div class="body-node" id="first">
		<div class="invoice-head">
			<div>Invoice Number</div>
			<div>
				<input type="invoice" name="invoice_number" placeholder="Enter Invoice No." />
			</div>

			<div>Invoice Date</div>
			<div><input type="date" name="invoice_date" placeholder="Select Date" /></div>

			<div>Supplier Code</div>
			<div>
				<select class="invoice" name="supplier_code" title="">
					<option selected hidden>Select</option>
					{% for supplier in suppliers %}
					<option>{{supplier.supplier_code}}</option>
					{% endfor %}
				</select>
			</div>

			<div>VAT By Default</div>
			<div>
				<select class="invoice" id="vatSetting">
					<option value="yes">Yes</option>
					<option value="no">No</option>
				</select>
			</div>
		</div>
			<button type="button" onclick="addRow(); addOptions();" id="addInvoiceRow">Add Row</button>
	</div>
	<div class="body-node" id="second">
		<div data-rows="1">
			<input id="number_of_rows" name="number_of_rows" value="data-rows" />
			<div class="invoice-body">
				<div class="invoiceRow">
					<div>Row</div>
					<div class="invoiceHeader">Nominal Code</div>
					<div class="invoiceHeaderDescription">Description</div>
					<div class="invoiceHeader">Net Value</div>
					<div class="invoiceHeader">VAT</div>
					<div class="invoiceHeader">Total Value</div>
				</div>
				<div class="invoiceRow">
					<div>1</div>
					<div>
						<select name="1_nominal_code" class="nominal_select">
							<option value="" selected hidden>Choose Nominal</option>
						</select>
					</div>
					<div><input type="text" name="1_description" /></div>
					<div><input type="text" name="1_net_value" class="net" /></div>
					<div><input type="text" name="1_vat" class="vat" /></div>
					<div><input type="text" name="1_total_value" class="tv" /></div>
				</div>
			
			</div>
			<button id="submitInvoice" class="invoiceForm" type="submit">Submit</button>
		
		</div>
	</div>
</form>

<script defer src="{{ url_for('static', filename='js/addInvoiceRow.js') }}"></script>
<script defer src="{{url_for('static', filename='js/totalValueNew.js')}}"></script>
<script>
		let costAccounts = {{cost_accounts|safe}}


		function addOptions(){
		let selects = document.querySelectorAll("select.nominal_select");

		selects.forEach(function(select){
		for (let i = 0; i< costAccounts.length; i++){
			let element =
						`
							<option class="nominal_select" value="` + costAccounts[i][1] + `" label=" ` + costAccounts[i][1] + `">
								` + costAccounts[i][0]+ `
							</option>
							`;
				if (select.children.length-1 <costAccounts.length ){
				select.insertAdjacentHTML("beforeend", element);
				}
			}
		})
	}

		// Calling the function once at the start for the first row dropdown
		addOptions()
</script>
{% endblock %}
