{% set title="Add Supplier" %} {% extends "blueprint.html" %} {% block body %}

<form id="form" method="post">
	<div class="body-node addClient" id="first" style="height: fit-content">
		<input type="name" name="supplier_name" placeholder="Supplier Name" required="true" />
		<input
			type="name"
			name="supplier_code"
			placeholder="Supplier Code"
			minlength="6"
			maxlength="6"
			required="true" />

		<input type="email" name="supplier_email" placeholder="Supplier Email" required="true" />

		<input type="name" name="supplier_address" placeholder="Address" required="true" />
		<button type="submit">Add Supplier</button>
	</div>
</form>
{% endblock %}
