{% set title = "Add Sales Invoice" %} {% extends "blueprint.html" %} {% block meta %}
<meta id="references" data-references="{{references}}" data-company="{{company}}" />
{% endblock %} {% block body %}
<form method="post">
	<div class="body-node" id="first" style="height: fit-content; min-width: 300px; width: fit-content">
		<div class="invoice-head">
			<div>Invoice Number</div>
			<div>
				<input
					type="invoice"
					id="invoice_number"
					name="invoice_number"
					placeholder="Enter Invoice No."
					value="Next"
					readonly />
			</div>

			<div>Invoice Date</div>
			<div><input type="date" name="invoice_date" placeholder="Select Date" /></div>

			<div>Customer Code</div>
			<div>
				<select class="invoice" name="customer_code" title="">
					<option selected hidden>Select</option>
					{% for customer in customers %}
					<option>{{customer.customer_code}}</option>
					{% endfor %}
				</select>
			</div>

			<div>VAT By Default</div>
			<div>
				<select class="invoice" id="vatSetting">
					<option value="yes">Yes</option>
					<option value="no">No</option>
				</select>
			</div>

			<div>Email Invoice to Customer</div>
			<div>
				<select class="invoice" name="emailSetting">
					<option value="yes">Yes</option>
					<option value="no">No</option>
				</select>
			</div>

			<button type="button" onclick="addRow(); calculate()" id="addInvoiceRow">Add Row</button>
		</div>
	</div>
	<div class="body-node" id="second" style="width: 90vw; height: fit-content;">
		<div data-rows="1">
			<input id="number_of_rows" name="number_of_rows" value="data-rows" />
			<div class="invoice-body">
				<div class="invoiceRow">
					<div>Row</div>
					<div class="invoiceHeader">Nominal Code</div>
					<div class="invoiceHeader">Description</div>
					<div class="invoiceHeader">Net Value</div>
					<div class="invoiceHeader">VAT</div>
					<div class="invoiceHeader">Total Value</div>
				</div>
				<div class="invoiceRow">
					<div>1</div>
					<div><input type="text" name="1_nominal_code" /></div>
					<div><input type="text" name="1_description" /></div>
					<div><input type="text" name="1_net_value" class="net" /></div>
					<div><input type="text" name="1_vat" class="vat" /></div>
					<div><input type="text" name="1_total_value" class="tv" /></div>
				</div>
			</div>
		</div>
		<button id="submitInvoice" type="submit">Submit</button>
		<br />
		{{message}}
	</div>
</form>

<script defer src="{{ url_for('static', filename='js/addInvoiceRow.js') }}"></script>
<script defer src="{{url_for('static', filename='js/totalValue.js')}}"></script>
{% endblock %}
