{% extends "blueprint.html" %} {% block meta %} {% endblock %} {% block body %}


		<div class="body-node" id="first" style="width: 80vw;">
			<table style="width: 80vw">
				<tr>
					<th>Client Code</th>
					<th>0-30 Days</th>
					<th>31-60 Days</th>
					<th>61-90 Days</th>
					<th>90-120 Days</th>
					<th>121+ Days</th>
				</tr>
				{% for client, values in data.items() %}
				<tr>
					<td>{{client}}</td>
					<td>{{values[0]}}</td>
					<td>{{values[1]}}</td>
					<td>{{values[2]}}</td>
					<td>{{values[3]}}</td>
					<td>{{values[4]}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>

{% endblock %}
