{% extends "blueprint.html" %}
{% block meta %} 
<script defer type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
{% endblock %}
{% block body %}


<div id="first" class="body-node" style="width: 40vw; min-width: 500px;">
	<div id="balanceSheet" class="report" style="width: 40vw; min-width: 500px;"></div>
</div>

<div class="body-node" id="second">
	<form method="POST">
		<div class="invoice-head">
			
			<div>Period</div>
			<div>
				<select name="selected_period" class="invoice">
					<option value="12" selected hidden></option>
					{% for i in range(1,13) %}
					<option value="{{i}}">{{i}}</option>
					{% endfor %}
				</select>
			</div>

			<div>Year</div>
			<div>
				<select name="selected_year" class="invoice">
					<option value="*" selected hidden></option>
					{% for i in range(2018,2024) %}
					<option value="{{i}}">{{i}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<button type="submit" class="invoiceForm">Run Report</button><br />
		<button type="button" class="invoiceForm" id="downloadexcel" onclick="ExportToExcel('xlsx')">
			Download Report
		</button>
	</form>
</div>

<script>
	window.bsData = {{data|tojson}}
</script>
<script src="{{ url_for('static', filename='react/compiled/mobileBalanceSheetTable.js') }}"></script>
<script src="{{ url_for('static', filename='js/balanceSheet.js') }}"></script>
<script>
	function ExportToExcel(type, fn, dl) {
		var elt = document.getElementById("balanceSheet");
		var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
		return dl
			? XLSX.write(wb, { bookType: type, bookSST: true, type: "base64" })
			: XLSX.writeFile(wb, fn || "BalanceSheet." + (type || "xlsx"));
	}
</script>
{% endblock %}
