{% extends "blueprint.html" %} {% block body %}
<div class="body-node" id="first">
	<table class="report" id="nominalTransactions">
		<tr>
			<th>Invoice Type</th>
			<th>Client</th>
			<th>Invoice No.</th>
			<th>Total Value</th>
			<th>Include</th>
		</tr>
		<form method="post">
			{% for invoice in invoices %}
			<tr id="{{invoice.id}}">
				<td>{{invoice.transaction_type}}</td>
				<td>{{invoice.client_code}}</td>
				<td>{{invoice.transaction_number}}</td>
				<td>{{invoice.total_value}}</td>
				<td class="checkbox-circle"><input type="checkbox" name="{{invoice.id}}-checkbox" value="{{invoice.id}}" id="{{invoice.id}}-checkbox" onclick="update(this)" /></td>
			</tr>
			{% endfor %}
			<div style="margin-bottom: 2rem">
				<p>Reconciled Value:<p id="totalReconciledValue">0</p></p>
				<button
					class="invoiceForm"
					id="submitButton"
					onclick="submitForm('Are you Sure You Want To Submit This Form?')"
					type="button">
					Submit Rec
				</button>
			</div>
		</form>
	</table>
</div>

<script>

	let totalReconciledValueElement = document.querySelector("#totalReconciledValue");
	let value

	function update(box) {
		// Select row of checkbox clicked
		let currentTotal = parseFloat(totalReconciledValueElement.innerHTML);
		let invoiceRow = box.parentElement.parentElement;
		let invoiceType = invoiceRow.children[0].innerHTML;
		let invoiceValue = parseFloat(invoiceRow.children[3].innerHTML);

		if (invoiceType == "sales_invoice"){
			if (box.checked == true){
				let newTotal = currentTotal + invoiceValue;
				newTotal = Math.round(newTotal * 100) / 100
				totalReconciledValueElement.innerHTML = newTotal;
			} else {
				let newTotal = currentTotal - invoiceValue;
				newTotal = Math.round(newTotal * 100) / 100
				totalReconciledValueElement.innerHTML = newTotal;
			}
		} else {
			// If invoice_type is purchase_invoice
			if (box.checked == true){
				let newTotal = currentTotal - invoiceValue;
				newTotal = Math.round(newTotal * 100) / 100
				totalReconciledValueElement.innerHTML = newTotal;
			} else {
				let newTotal = currentTotal + invoiceValue;
				newTotal = Math.round(newTotal * 100) / 100
				totalReconciledValueElement.innerHTML = newTotal;
			}

		}
	}
</script>
{# Imports the sweetalert2 module and my sweetalert2 config #} {# Add the below to a button[type='button'] to use #} {#
onclick="submitForm('Are you Sure You Want To Update This Client?')" #}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{{url_for('static', filename='js/confirmation.js')}}"></script>
{% endblock %}
