{% set title="Batched Invoices" %} {% extends "blueprint.html" %} {% block body %}

<div class="body-node" id="first">
	<form method="post">

		<table class="report">
			<tr>
				<th>Nominal Code</th>
				<th>Period</th>
				<th>Description</th>
				<th>Debit</th>
				<th>Credit</th>
			</tr>
			{% for journal in journals %}
			<tr>
				<td>{{journal.nominal_code}}</td>
				<td>{{journal.accounting_period}}</td>
				<td>{{journal.description}}</td>
				<td>{{journal.debit}}</td>
				<td>{{journal.credit}}</td>
			</tr>
			{% endfor %}
		</table>
		<button class="invoiceForm" type="button" onclick="submitForm('Are you Sure You Want To Reverse All Batched Journals?')">Post Reversals</button>

	</form>
</div>

{# Imports the sweetalert2 module and my sweetalert2 config #}
{# Add the below to a button[type='button'] to use #}
{# onclick="submitForm('Are you Sure You Want To Update This Client?')" #}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{{url_for('static', filename='js/confirmation.js')}}"></script>

{% endblock %}
