{% extends "blueprint.html" %} {% block body %}
		<div id="heading">
			<h1><u>{{company}}</u></h1>
			<h2>Batched Journals</h2>
		</div>
		<div id="main">
				<div id="nav"></div>
				<div id="data">
					<form method="post">
							<div id="buttons">
								<button id="batchedJournalButton" type="submit">Post Reversals</button>
							</div>
						<table id="batchedJournals">
							<tr>
								<th>Nominal Code</th>
								<th>Period</th>
								<th>Description</th>
								<th>Debit</th>
								<th>Credit</th>
							</tr>
							{% for journal in journals %}
							<tr>
								<td>{{journal.nominal_code}}</td>
								<td>{{journal.accounting_period}}</td>
								<td>{{journal.description}}</td>
								<td>{{journal.debit}}</td>
								<td>{{journal.credit}}</td>
							</tr>
							{% endfor %}
						</table>
					</form>
			</div>
		</div>
		<script src="{{ url_for('static', filename='react/compiled/navigation.js') }}"></script>
		<script src="{{ url_for('static', filename='js/navDropdown.js') }}"></script>
		{% endblock %}
