{% set title="Add Budget" %} {% extends "blueprint.html" %} {% block body %}

<div class="body-node" id="first">
	<div class="invoice-head">
		<div>Year</div>
		<div>
			<select name="year" class="invoice">
				{% for i in range(2024, 2018, -1) %}
				<option value="{{i}}">{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<button type="button" class="invoiceForm">Upload Excel</button>
	<button type="submit" id="submitInvoice" class="invoiceForm">Save Budget</button>
</div>
<div class="body-node" id="second" style="width: 90vw">
	<form method="post">
		<div id="budgetTable">
			<div class="budgetRow">
				<div>Nominal Code</div>
				{% for i in range(1, 13) %}
				<div>{{i}}</div>
				{% endfor %}
			</div>
			{% for account in accounts %}
			<div class="budgetRow">
				{{account.nominal}} {% for i in range(1, 13) %}
				<input type="text" name="{{account.nominal}}_{{i}}" />
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</form>
</div>

{% endblock %}
