{% extends "blueprint.html" %} {% block meta %} {% endblock %} {% block body %}


	<div class="body-node" id="first" style="width: 80vw; height: 40vw">
		<div id="myDiv"></div>
	</div>
<script src="https://cdn.plot.ly/plotly-2.18.0.min.js"></script>
<script defer type="text/javascript">
	let bodyStyles = window.getComputedStyle(document.body)

	var data = [
        {
            name: "Cash Flow",
            type: "waterfall",
            orientation: "v",
            measure: [
                "total",
                "relative",
                "relative",
                "relative",
                "total"
            ],
            x: [
                "Opening Balance",
                "Operating Activities",
                "Investing Activities",
                "Financing Activities",
                "Closing Balance"
            ],
            textposition: "outside",
            text: [
                {{openingBalance|safe}},
                {{operating_activities|safe}},
                {{investing_activities|safe}},
                {{financing_activities|safe}},
                {{closingBalance|safe}}
            ],          
            y: [
			parseFloat({{openingBalance|safe}}),
			parseFloat({{operating_activities|safe}}),
			parseFloat({{investing_activities|safe}}),
			parseFloat({{financing_activities|safe}}),
            parseFloat({{closingBalance|safe}}),
            ],
            connector: {
              line: {
                color: text
              }
            },
        }
    ];
 layout = {
        title: {
            text: "Cash Flow {{accounting_year|safe}}"
        },
        xaxis: {
            type: "category",
			title: "Cash Flow Division"
        },
        yaxis: {
            type: "linear",
			title: "£"
        },
        autosize: true,
        showlegend: true,
		plot_bgcolor: primary,
		paper_bgcolor: primary,
        height: window.getComputedStyle(document.querySelector("#first")).getPropertyValue("height").replace("px", "")
        
    };
Plotly.newPlot('myDiv', data, layout);
</script>
{% endblock %}