{% extends "blueprint.html" %} {% block meta %} {% endblock %} {% block body %}


	<div class="body-node" id="first" style="width: 80vw; height: 40vw">
		<div id="myDiv"></div>
	</div>
<script src="https://cdn.plot.ly/plotly-2.18.0.min.js"></script>
<script defer type="text/javascript">
	let bodyStyles = window.getComputedStyle(document.body)
    let designs = {{design.split(',')|safe}}
    let text = designs[3];
    let primary = designs[0];
	var data = [
        {
            name: "Cash Flow",
            type: "waterfall",
            orientation: "v",
            measure: [
                "total",
                "relative",
                "relative",
                "relative",
                "total"
            ],
            x: [
                "Opening Balance",
                "Operating Activities",
                "Investing Activities",
                "Financing Activities",
                "Closing Balance"
            ],
            textposition: "outside",
            text: [
            Number({{openingBalance|safe}}).toLocaleString(),
			Number({{operating_activities|safe}}).toLocaleString(),
			Number({{investing_activities|safe}}).toLocaleString(),
			Number({{financing_activities|safe}}).toLocaleString(),
            Number({{closingBalance|safe}}).toLocaleString(),
            ],          
            y: [
			Number({{openingBalance|safe}}).toLocaleString(),
			Number({{operating_activities|safe}}).toLocaleString(),
			Number({{investing_activities|safe}}).toLocaleString(),
			Number({{financing_activities|safe}}).toLocaleString(),
            Number({{closingBalance|safe}}).toLocaleString(),
            ],
            connector: {
              line: {
                color: text
              }
            },
        }
    ];
 layout = {
        title: {
            // text: "Cash Flow {{accounting_year|safe}}"
            text: "Cash Flow"
        },
        font: {
            color: text
        },
        xaxis: {
            type: "category",
			title: "Cash Flow Category"
        },
        yaxis: {
            type: "linear",
			title: "£"
        },
        autosize: true,
        showlegend: false,
		plot_bgcolor: primary,
		paper_bgcolor: primary,
        height: window.getComputedStyle(document.querySelector("#first")).getPropertyValue("height").replace("px", "")
        
    };
Plotly.newPlot('myDiv', data, layout);
</script>
{% endblock %}