{% extends "blueprint.html" %} {% block body %}
		<div id="heading" class="conatiner">
			<h1><u>{{company}}</u></h1>
			<h2>Change Password</h2>
		</div>
		<div id="main" class="container-fluid">
				<div id="nav"></div>
				<div id="data">
					<div id="holding">
						<div class="row"><br /></div>
						<form method="post">
							<div class="row changePassword">
								<input type="email" name="user_email" placeholder="Enter email" required/>
							</div>
							<div class="row changePassword">
								<input type="password" name="old_password" id="old_password" placeholder="Current Password" required/>
							</div>
							<div class="row changePassword">
								<input type="password" name="new_password" id="new_password" placeholder="New Password" required/>
							</div>
							<div class="row changePassword">
								<input type="password" name="new_password2" id="new_password2" placeholder="New Password Again" required/>
							</div>
							<div class="row changePassword">
								{% if email=='example@basicaccounting.co.uk' %}
							<button type="submit" id="submitButton" disabled>Change Password</button>
								{% else %}
							<button type="submit" id="submitButton">Change Password</button>
								{% endif %}
							</div>
						</form>
						<div class="row changePassword"><p>{{message}}</p></div>
					</div>
			</div>
		</div>
		<script src="{{ url_for('static', filename='react/compiled/navigation.js') }}"></script>
		<script src="{{ url_for('static', filename='js/navDropdown.js') }}"></script>
		{% endblock %}