{% set title="Change Theme" %} {% extends "blueprint.html" %} {% block body %}
<div class="body-node">
	<form method="post">
			<select class="nominal_select" name="color_choice" title="Colour Option" onchange="previewChange(this)">
				<option label="Dark" selected value="dark"></option>
				<option label="Light" value="light"></option>
			</select>

			<br />
			<button type="submit">Save</button>
	</form>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/previewTheme.js') }}"></script>
{% endblock %}
