{% set title="Change Theme" %}
{% extends "blueprint.html" %} {% block body %}
	<div class="body-node" id="first" style="width: 40vw; min-width: 400px;">
		<form method="post">
			<table id="settings">
				<tr>
					<td>Primary Colour:</td>
					<td><input type="text" name="primary" class="settings-input" value="{{design.split(',')[0]}}" /></td>
					<td><input type="color" id="primaryScale" name="primaryScale" value="{{design.split(',')[0]}}" /></td>
				</tr>
				<tr>
					<td>Second Colour:</td>
					<td><input type="text" name="second" class="settings-input" value="{{design.split(',')[1]}}" /></td>
					<td><input type="color" id="secondScale" name="secondScale" value="{{design.split(',')[1]}}" /></td>
				</tr>
				<tr>
					<td>Third Colour:</td>
					<td><input type="text" name="third" class="settings-input" value="{{design.split(',')[2]}}" /></td>
					<td><input type="color" id="thirdScale" name="borderScale" value="{{design.split(',')[2]}}" /></td>
				</tr>
				<tr>
					<td>Text Colour:</td>
					<td><input type="text" name="text" class="settings-input" value="{{design.split(',')[3]}}" /></td>
					<td><input type="color" id="textScale" name="borderScale" value="{{design.split(',')[3]}}" /></td>
				</tr>
			</table>
			<div id="colorSetter">
				<select class="adminLevelSelect settings-button" id="themeSelector">
					<option value="" selected="selected" hidden>Select Pre-Built Theme</option>
					<option value="light" name="light">Light</option>
					<option value="dark" name="dark">Dark</option>
				</select>
				<br />
				<button type="button" class="settings-button" onclick="previewChange()">Preview</button>
				<br />
				<button type="submit" class="settings-button">Change Theme</button>
			</div>
		</form>
	</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/previewTheme.js') }}"></script>
{% endblock %}
