{% set title = "Customers" %} {% extends "blueprint.html" %} {% block meta %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.js"></script>

{% endblock %} {% block body %}
<div id="first" class="body-node">Filter Customers</div>
<div id="second" class="body-node" style="min-width: 100px; width: 5vw; height: fit-content">
	<a href="{{ url_for('addCustomer', company=company, email=email, username=username, session_key=session_key) }}"
		>Add Customer</a
	>
</div>
<div id="third" class="body-node">
	Top Customers
	<div id="top-customers"></div>
	<div id="legend">
		Paid <div id="legend-0"></div>
		Un-Paid <div id="legend-1"></div>
	</div>
</div>

<div id="fourth" class="body-node">
	<table class="report">
		<tr>
			<th>Name</th>
			<th>Code</th>
			<th>Email</th>
			<th>Address</th>
			<th>Balance</th>
			<th>Credit Limit</th>
			<th>Payment Terms</th>
		</tr>
		{% for customer in customers %}
		<tr>
			<td>{{customer.customer_name}}</td>
			<td>{{customer.customer_code}}</td>
			<td>{{customer.customer_email}}</td>
			<td>{{customer.customer_address}}</td>
			<td>{{balances[customer.customer_code]}}</td>
			<td>{{customer.customer_credit_limit}}</td>
			<td>{{customer.customer_payment_terms}}</td>
		</tr>
		{% endfor %}
	</table>
</div>
<script defer type="text/javascript">

		let customers = {{total_sales|tojson|safe}};
	console.log(customers)
		let x = [];
		let y = [];
		let paid = []
		let unpaid = []

		for (let i = 0; i < customers.length; i++){
			x.push(customers[i][0]);
			paid.push(customers[i][1][0]);
			unpaid.push(customers[i][1][1])
		};

		console.log(paid)

		new Chartist.Bar("#top-customers", {
			labels: x,
			series: [paid, unpaid]
		},
		{ 
		stackBars: true,
		height: "25vh",
		axisY: {
		  labelInterpolationFnc: function(value) {
			return (value / 1000) + 'k';
		  }
		}
	  }).on('draw', function(data) {
		if(data.type === 'bar') {
		  data.element.attr({
			style: 'stroke-width: 30px'
		  });
		}
	})
</script>
{% endblock %}
