{% set title = "Customers" %}
{% extends "blueprint.html" %} {% block body %}

<div id="first" class="body-node" style="width: 80vw; min-height:30vh ; height: fit-content;">
	<table class="report">
		<tr>
			<th>Name</th>
			<th>Code</th>
			<th>Email</th>
			<th>Address</th>
			<th>Balance</th>
			<th>Credit Limit</th>
			<th>Payment Terms</th>
		</tr>
		{% for customer in customers %}
		<tr>
			<td>{{customer.customer_name}}</td>
			<td>{{customer.customer_code}}</td>
			<td>{{customer.customer_email}}</td>
			<td>{{customer.customer_address}}</td>
			<td>{{balances[customer.customer_code]}}</td>
			<td>{{customer.customer_credit_limit}}</td>
			<td>{{customer.customer_payment_terms}}</td>
		</tr>
		{% endfor %}
	</table>
</div>

<div id="second" class="body-node" style="min-width: 100px; width: 5vw; height: fit-content;">
	<a href="{{ url_for('addCustomer', company=company, email=email, username=username, session_key=session_key) }}"
		>Add Customer</a
	>
</div>

<div id="third" class="body-node">
	Filter Customers
</div>

{% endblock %}
