{% extends "blueprint.html" %} 
{% block meta %} 
		<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" />
		<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
{% endblock %}

		{% block body %}

			<div id="first" class="body-node">Net Profit</div>
			<div id="second" class="body-node">
				My To Do List
				<div id="to-do-list">
					<ul>
						<li class="to-do-item">
							<div class="bullet"></div>
							<span> P&L Review </span>
						</li>
						<li class="to-do-item">
							<div class="bullet"></div>
							<span> Update Reports </span>
						</li>
						<li class="to-do-item">
							<div class="bullet"></div>
							<span> Talk to Sarah </span>
						</li>
						<li class="to-do-item">
							<div class="bullet"></div>
							<span> P&L regqergerqgReview </span>
						</li>
						<li class="to-do-item">
							<div class="bullet"></div>
							<span> Update ergregqReports </span>
						</li>
						<li class="to-do-item">
							<div class="bullet"></div>
							<span> Talk qrgerqgto Sarah </span>
						</li>
					</ul>
				</div>
			</div>
		<script defer type="text/javascript">
			let figures = {{total_values|tojson|safe}}
			let bodyStyles = window.getComputedStyle(document.body)
			let light = bodyStyles.getPropertyValue('--light');
			let dark = bodyStyles.getPropertyValue('--dark');


			let x = [];
			let y = [];

			for (let i = 1; i <= 12; i++){
				x.push(i);
				y.push(figures[i])
			}

			new Chartist.Line("#first", {
				labels: x,
				series: [
				y

				]
			},{
				low: 0,
				showArea: true,
				showPoint: false,
				fullWidth: false
			}
			)
		</script>
{% endblock %}