<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="black" />
		<meta
			name="keywords"
			content="accounting, basic accounting, accountant, simple accounting, accounting software, no variance, variance accounting" />
		<meta
			name="description"
			content="Accounting software that can handle all day-to-day activities of business accounting" />

		<link
			href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css"
			rel="preload"
			as="style"
			onload="this.onload=null;this.rel='stylesheet'" />
		<noscript><link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" /></noscript>

		<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

		{% if company %} {% set space, company, email, username, session_key, page = request.path.split("/") %}
		<meta
			name="logo"
			id="{{url_for('dashboard', company=company, email=email, username=username, session_key=session_key )}}" />
		{% else %}
		<meta name="logo" id="{{url_for('index')}}" />
		{% endif %} {% block meta %} {% endblock %}

		<link
			href="https://fonts.googleapis.com/css2?family=Lora&display=swap"
			rel="preload"
			as="style"
			onload="this.onload=null;this.rel='stylesheet'" />
		<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora&display=swap" /></noscript>

		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@300&family=Nunito:wght@300&display=swap" rel="stylesheet">

		<!-- Media Queries - If above 600px use desktop css - Else Use Mobile CSS -->
		<link
			rel="stylesheet"
			media="screen and (min-width: 601px)"
			href="{{url_for('static', filename='styles/index.min.css')}}" />
		<link
			rel="stylesheet"
			media="screen and (max-width: 600px)"
			href="{{url_for('static', filename='styles/mobile_index.min.css')}}" />

		<link rel="icon" href="{{url_for('static', filename='images/favicon.ico')}}" type="image/x-icon" />
		<title>No Variance</title>

		{% if design %} {% endif %}
	</head>
	<body>
		<div id="heading" data-expanded="true" style="height: 17.5vh">
			<div id="heading-top">
				<div id="logo">No Variance <br />Accounting Software</div>
				<div id="nav">
					<div class="nav-option" data-href="/#aboutUs">About Us</div>
					<div class="nav-option" data-href="/login">Log In</div>
					<div class="nav-option" data-href="/signup">Sign Up</div>
				</div>
			</div>
		</div>
		<br />
		<div id="body">
			<div class="headline">
				<span class="xl-text">
					<h1>Cloud Based <br />Accounting Software</h1>
				</span>
				<br />
				<h3>
					So You Can Know How Your <br />Business Is Performing <br />
					Anywhere In The World
				</h3>
				<br />
				<span class="bright-button"
					><a href="/signup" style="margin-right: 10vw; margin-top: -10vh" class="signup-button"
						><button type="submit">Sign Up Now</button></a
					></span
				>
			</div>
			<div>
				<img src="{{url_for('static', filename='images/pexels-photo-8296991.webp')}}" alt="Calculator" />
			</div>
			<div class="empty" id="chart"></div>
			<div class="actions">
				<div class="action">
					<span class="large-text"><h1>Manage and Review Your Accounts Online</h1></span>
				</div>
				<div class="action">
					No Variance is an online platform that provides a
					<a href="#abilities">wide range of abilities and reports</a> to help make sure your business is
					performing at its best.
				</div>
			</div>
			<div id="aboutUs" class="actions">
				<div class="action">
					<span class="large-text"><h1>About Us</h1></span>
				</div>
				<div class="action">
					No Variance was built by accountants, for accountants, to make sure we included all fundamental
					services required by a business to function efficiently.
				</div>
				<div class="action">
					This software was built from scratch, using a wide range of modern technologies, to ensure we
					provide an optimal performance that is secure and reliable, wherever you access it in the world.
				</div>
			</div>
			<div class="actions" id="whats-included">
				<div class="action">
					<span class="large-text"
						><h1>See What's Included <br />First-Hand</h1></span
					>
				</div>
				<div class="action">
					<form method="post" action="/login">
						<input type="text" name="email" value="example@basicaccounting.co.uk" style="display: none" />
						<input type="text" name="password" value="p123" style="display: none" />
						<span class="bright-button"
							><a ontouchstart="">
								<button type="submit">Log-In With Our <br />Practice Account</button></a
							></span
						>
					</form>
				</div>
				<div class="action">And Experience All The Benefits You'll Get By Joining No Variance</div>
			</div>

			<div>
				<div>
					<div class="body-node example">
						<div class="example-row text">Sales Invoices</div>
						<div class="example-row"></div>
						<div class="example-row"></div>
						<div class="example-row"></div>
					</div>
					<div class="body-node example">
						<div class="example-row text">Nominal Transactions</div>
						<div class="example-row"></div>
						<div class="example-row"></div>
						<div class="example-row"></div>
					</div>
				</div>
				<br />
				<span class="bright-button">
					<a href="/signup" style="margin-left: 15vw" class="signup-button"
						><button>Sign Up Now</button></a
					></span
				>
			</div>
			<div class="actions" id="abilities">
				<div class="action">
					<span class="large-text"><h1>What's Included?</h1></span>
				</div>
				<div class="action">
					When you sign up to No Variance, you will have access to all of our features, immediately.
				</div>
				<div class="action">
					<h4>These Include:</h4>
					<ul>
						<li>Posting Sales & Purchase Invoices</li>
						<li>Posting Journals</li>
						<li>An Automatic P&L</li>
						<li>Balance Sheets and Trial Balances</li>
						<li>Aged Debt & Cash Flow Reports</li>
						<li>Uploading A Budget</li>
						<li>Admin Control</li>
						<li>And More...</li>
					</ul>
				</div>
			</div>
		</div>
		<script defer>
			// This is to import the logo, giving it different anchor refs depending on if its logged in or not
			//let meta = document.head.querySelector("meta[name='logo']").id;
			//let heading = document.querySelector("#heading");

			//function logoResize(x) {
			//	if (x.matches) {
			//		let src = "{{url_for('static', filename='images/nv.png')}}";
			//		return src;
			//	} else {
			//		let src = "{{url_for('static', filename='images/no_variance.png')}}";
			//		return src;
			//	}
			//}
			//let x = window.matchMedia("(max-width: 600px)");
			//let img = logoResize(x);
			//heading.innerHTML =
			//	heading.innerHTML + "<a href=" + meta + "><img src=" + img + " alt='No Variance Logo'/></a>";
		</script>
		<script>
			// This is to turn all the nav options in the submenu into link buttons
			// Each option has the link ending as a data strribute called href
			// This will just find the current page url and replace the ending with the
			// option clicked on

			let url = window.location.pathname;
			url = url.substring(0, url.lastIndexOf("/"));

			let options = document.querySelectorAll(".sub-menu-option, .nav-option");
			options.forEach(function (e) {
				e.addEventListener("click", function () {
					let extension = e.dataset.href;
					let newUrl = url + extension;
					window.location.assign(newUrl);
				});
			});
		</script>

		<script>
			// This script creates the demo graph on the home page
			let bodyStyles = window.getComputedStyle(document.body);
			let light = bodyStyles.getPropertyValue("--light");
			let dark = bodyStyles.getPropertyValue("--dark");

			let x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];
			let y = [400, 560, 470, 590, 580, 630, 520, 540, 480, 575, 630, 680, 710];

			new Chartist.Line(
				"#chart",
				{
					labels: x,
					series: [y],
				},
				{
					low: 300,

					showArea: true,
					showPoint: false,
					fullWidth: false,
				},
			);
		</script>
	</body>
</html>
