{% extends "blueprint.html" %} {% block meta %} {% endblock %} {% block body %}
<div id="heading">
	<h1><u>No Variance</u></h1>
	<h3>Accounting Software With No Limits</h3>
</div>

<div id="main">
	<div id="nav">
		<div id="navBar" class="index">
			<div></div>
			<a href="signup"><div class="navOption">Sign Up</div></a>
			<a href="login"><div class="navOption">Log In</div></a>
			<div></div>
		</div>
	</div>
	<div id="data" style="text-align: center">
		<div id="root">
			<div>
				<h3>
					<br />
					Welcome to No Variance!
					<br />
					This is accounting software designed for anybody to use
					<br />
					<span class="listHeader"
						>If you would like to see a preview of our site, you can log in with the following details:
						<br />
						Email: example@basicaccounting.co.uk
						<br />
						Password: p123
						<br />
						(We do not recommend this password for your real account)
					</span>
					<br />
				</h3>
				<h3 class="listHeader">Some of the features our software will offer you:</h3>
				<div id="list"></div>
			</div>
			<footer>
				Product of No Variance<br />If you have any questions, please email admin@novariance.com
			</footer>
		</div>
	</div>
</div>

<script src="{{ url_for('static', filename='react/compiled/indexList.js') }}"></script>
{% endblock %}
