{% set title="Post A Journal" %}
{% extends "blueprint.html" %}
{% block meta %}
<meta id="references" data-references="{{next_journal_number}}" data-company="{{company}}" />
{% endblock %} 
{% block body %}

<form method="post">
		<div id="root"></div>
</form>

<script src="{{ url_for('static', filename='react/compiled/journal.js') }}"></script>
<!-- <script src="{{url_for('static', filename='js/defaultJournalNumber.js')}}"></script> -->

{# Imports the sweetalert2 module and my sweetalert2 config #}
{# Add the below to a button[type='button'] to use #}
{# onclick="submitForm('Are you Sure You Want To Update This Client?')" #}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{{url_for('static', filename='js/confirmation.js')}}"></script>


{% endblock %}
