{% extends "blueprint.html" %} {% block body %}
<div id="loginHeading">
	<div id="logo"></div>
	<h1><u>Log In</u></h1>
</div>
<form id="form" method="post">
	<div id="loginForm">

			<div class="loginItem">
				<input type="email" name="email" placeholder="email" aria-required="true" />
			</div>
			<div class="loginItem">
				<input type="password" name="password" placeholder="password" aria-required="true" />
			</div>
			<div class="loginItem">
				<button type="submit" name="signinButton">Log-In</button>
			</div>
			<div class="loginItem">
				<a href="{{url_for('forgotPassword')}}">
					<button type="button" name="signinButton">Forgot Password</button>
				</a>
			</div>
			<div class="loginItem">
				<p>{{message}}</p>
			</div>
		</div>
	</div>
</form>
{% endblock %}
