{% extends "blueprint.html" %} {% block meta %}
<script defer type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
{% endblock %} {% block body %}

<div class="body-node" id="first">
	<form method="post">
		<div class="invoice-head">
			<div>Type</div>
			<div>
				<select name="type" class="invoice">
					<option value="all" selected="selected">All</option>
					<option value="sales_invoice">Sales Invoice</option>
					<option value="purchase_invoice">Purchase Invoice</option>
					<option value="journal">Journal</option>
				</select>
			</div>

			<div>Client Code</div>
			<div>
				<input name="client_code" type="invoice" value="" placeholder="" />
			</div>

			<div>Nominal Code</div>
			<div>
				<input name="nominal_code" type="invoice" value="" placeholder="" />
			</div>

			<div>Year</div>
			<div>
				<select name="year" class="invoice">
					<option value="all" selected="selected">All</option>
					{% for i in range(2018, 2024) %}
					<option value="{{i}}">{{i}}</option>
					{% endfor %}
				</select>
			</div>

			<div>Period</div>
			<div>
				<select name="period" class="invoice">
					<option value="all" selected="selected">All</option>
					{% for i in range(1, 13) %}
					<option value="{{i}}">{{i}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<button type="submit" class="invoiceForm">Run Report</button>
		<br />
		<button type="button" class="invoiceForm" id="downloadexcel" onclick="ExportToExcel('xlsx')">
			Download Report
		</button>
	</form>
</div>
<div class="body-node" id="second">
	<table class="report" id="nominalTransactions">
		<tr>
			<th>Nominal</th>
			<th>Date</th>
			<!-- <th>Type</th> -->
			<th>Client Code</th>
			<th>Reference</th>
			<th>Description</th>
			<th>Net Value</th>
			<th>VAT</th>
			<th>Total Value</th>
			<th>Year</th>
			<th>Period</th>
			<th>Posted By</th>
			<th>Posted On</th>
		</tr>
		{% for transaction in transactions %}
		<tr>
			<td>{{transaction.nominal_code}}</td>
			<td>{{transaction.date}}</td>
			<!-- <td>{{transaction.transaction_type}}</td> -->
			<td>{{transaction.client_code}}</td>
			<td>{{transaction.transaction_number}}</td>
			<td>{{transaction.description}}</td>
			<td>{{transaction.net_value}}</td>
			<td>{{transaction.vat_value}}</td>
			<td>{{transaction.total_value}}</td>
			<td>{{transaction.accounting_year}}</td>
			<td>{{transaction.accounting_period}}</td>
			<td>{{transaction.posted_by}}</td>
			<td>{{transaction.posted_on}}</td>
		</tr>
		{% endfor %}
	</table>
</div>
<script>
	function ExportToExcel(type, fn, dl) {
		var elt = document.getElementById("nominalTransactions");
		var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
		return dl
			? XLSX.write(wb, { bookType: type, bookSST: true, type: "base64" })
			: XLSX.writeFile(wb, fn || "NominalTransactions." + (type || "xlsx"));
	}
</script>
{% endblock %}
