{% block meta %} {% endblock %} {% extends "homebase.html" %} {% block body %}
<form id="form" method="post">
	<div class="body-node" id="first"  style="margin-top: -30%; width:30vw">
		<div class="userLogo">
			<div id="userHead"></div>
			<div id="userBody"></div>
		</div>
		<div class="loginItem">
			<input type="email" name="email" placeholder="Email" required="true" />
		</div>

		<div class="loginItem">
			<button type="submit" name="signinButton" style="height: fit-content; width: fit-content; padding-left: 10%; padding-right: 10%">Send <br>Verification <br>Code</button>
		</div>
		<br />
		<div class="loginItem">
			<a href="{{url_for('login')}}"
				><p><u>{{message}}</u></p></a
			>
		</div>
	</div>
</form>
{% endblock %}
