{% set title="Suppliers" %} {% extends "blueprint.html" %} {% block body %}

<div id="first" class="body-node">Filter Suppliers</div>
<div id="second" class="body-node" style="min-width: 100px; width: 5vw; height: fit-content">
	<a href="{{ url_for('addSupplier', company=company, email=email, username=username, session_key=session_key) }}"
		>Add Supplier</a
	>
</div>
<div id="third" class="body-node">Top Suppliers</div>

<div id="fourth" class="body-node">
	<table class="report">
		<tr>
			<th>Name</th>
			<th>Code</th>
		</tr>
		{% for supplier in suppliers %}
		<tr>
			<td>{{supplier.supplier_name}}</td>
			<td>{{supplier.supplier_code}}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
