{% extends "blueprint.html" %} {% block body %}
		<div id="heading">
			<h1><u>{{company}}</u></h1>
			<h2>Trial Balance</h2>
		</div>
		<div class="flex-column"></div>
		<div id="main" class="container-fluid">
			<div class="row">
				<div id="nav" class="col-3 m-0 p-0"></div>
				<div id="data" class="col-9">
					<div class="col-5">
						<button type="button" id="downloadexcel" onclick="ExportToExcel('xlsx')">
							Download Report
						</button>
					</div>
					<table id="table">
						<tr class="trialBalance">
							<th class="invoiceHeader">Nominal Code</th>
							<th class="invoiceHeaderDescription">Account Name</th>
							<th class="invoiceHeader">Debit</th>
							<th class="invoiceHeader">Credit</th>
						</tr>
						{% for account in accounts %}
						<tr class="trialBalance">
							<td>{{ account.nominal }}</td>
							<td>{{ account.account_name }}</td>
							{% if account.balance > 0.00 %}
							<td>{{ account.balance }}</td>
							<td></td>
							{% else %}
							<td></td>
							<td>{{ -account.balance }}</td>
							{% endif %}
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
		<script src="{{ url_for('static', filename='react/compiled/navigation.js') }}"></script>
		<script src="{{ url_for('static', filename='js/navDropdown.js') }}"></script>
		<script>
			function ExportToExcel(type, fn, dl) {
				var elt = document.getElementById("table");
				var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
				return dl
					? XLSX.write(wb, { bookType: type, bookSST: true, type: "base64" })
					: XLSX.writeFile(wb, fn || "TrialBalance." + (type || "xlsx"));
			}
		</script>
		{% endblock %}
