{% extends "homebase.html" %} {% block body %}
<form id="form" method="post">
	<div class="body-node" id="first" style="margin-top: -20%; width:30vw">
		<div class="loginItem">
			<input type="name" name="company" placeholder="Company Name" required="true" />
		</div>
		<div class="loginItem">
			<input type="email" name="email" placeholder="Admin Email" required="true" />
		</div>
		<div class="loginItem">
			<input type="password" name="password" placeholder="Admin Password" required="true" />
		</div>
		<div class="loginItem">
			<input type="name" name="accounting_year" placeholder="Accounting Year" required="true" />
		</div>
		<div class="loginItem">
			<input type="name" name="accounting_period" placeholder="Accounting Period" required="true" />
		</div>
		<div class="loginItem">
			<input type="name" name="verification_code" placeholder="Verification Code" required="true" />
		</div>
		<div class="loginItem">
			<button type="submit" name="signinButton">Sign-Up</button>
		</div>
	</div>
</form>
{% endblock %}
