{% extends "blueprint.html" %} {% block body %}
		<div id="heading">
			<h1><u>Sign Up</u></h1>
		</div>
		<form id="form" method="post">
			<div class="d-flex flex-column mt-5 min-vw-100">
				<div class="d-flex flex-grow-1 justify-content-center align-items-center">
					<div class="container w-50">
						<div class="row">
							<div class="col">
								<input type="name" name="company" placeholder="Company Name" aria-required="true" />
							</div>
						</div>
						<div class="row">
							<div class="col">
								<input type="email" name="email" placeholder="Admin Email" aria-required="true" />
							</div>
						</div>
						<div class="row">
							<div class="col">
								<input
									type="password"
									name="password"
									placeholder="Admin Password"
									aria-required="true" />
							</div>
						</div>
						<div class="row">
							<div class="col">
								<input type="name" name="accounting_year" placeholder="Accounting Year" aria-required="true" />
							</div>
						</div>
						<div class="row">
							<div class="col">
								<input type="name" name="accounting_period" placeholder="Accounting Period" aria-required="true" />
							</div>
						</div>
						<div class="row">
							<div class="col">
								<input type="name" name="verification_code" placeholder="Verification Code" aria-required="true" />
							</div>
						</div>
						<div class="row">
							<div class="col mt-5">
								<button type="submit" name="signinButton">Sign-Up</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		{% endblock %}