{% set title="View Purchase Invoices" %} {% extends "blueprint.html" %} {% block meta %}
<script defer type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
{% endblock %} {% block body %}
<form method="post">
	<div class="body-node" id="first">
		<div class="invoice-head">
				<div>Supplier</div>
				<div>
					<select class="invoice" name="supplier_code">
						<option value="*" selected hidden></option>
						{% for supplier in suppliers %}
						<option value="{{supplier}}">{{supplier}}</option>
						{% endfor %}
					</select>
				</div>
			
				<div>Invoice No.</div>
				<div><input type="invoice" class="invoice" name="invoice_number" value="" /></div>
		
				<div>Period</div>
				<div>
					<select name="selected_period" class="invoice">
						<option value="*" selected hidden></option>
						{% for i in range(1,13) %}
						<option value="{{i}}">{{i}}</option>
						{% endfor %}
					</select>
				</div>
			
				<div>Year</div>
				<div>
					<select name="selected_year" class="invoice">
						<option value="*" selected hidden></option>
						{% for i in range(2018,2024) %}
						<option value="{{i}}">{{i}}</option>
						{% endfor %}
					</select>
				</div>
		
			</div>

			<button type="submit" class="invoiceForm">Run Report</button><br />
			<button type="button" class="invoiceForm" id="downloadexcel" onclick="ExportToExcel('xlsx')">Download Report</button>

	</form>
</div>
<div class="body-node" id="second" style="width: 50vw"></div>
<div class="body-node" id="third">
	<table class="report" id="report">
		<tr>
			<th>Supplier Code</th>
			<th>Invoice Number</th>
			<th>Invoice Date</th>
			<th class="no-mobile">Invoice Description</th>
			<th>Net Value</th>
			<th class="no-mobile">VAT Value</th>
			<th>Total Value</th>
			<th class="no-mobile">Year</th>
			<th class="no-mobile">Period</th>
			<th class="no-mobile">Posted By</th>
			<th class="no-mobile">Posted On</th>
		</tr>
		{% for invoice in invoices %}
		<tr>
			<td>{{ invoice.client_code }}</td>
			<td>{{ invoice.transaction_number }}</td>
			<td>{{ invoice.date }}</td>
			<td class="no-mobile">{{ invoice.description }}</td>
			<td>{{ invoice.net_value }}</td>
			<td class="no-mobile">{{ invoice.vat_value }}</td>
			<td>{{ invoice.total_value }}</td>
			<td class="no-mobile">{{ invoice.accounting_year }}</td>
			<td class="no-mobile">{{ invoice.accounting_period }}</td>
			<td class="no-mobile">{{ invoice.posted_by }}</td>
			<td class="no-mobile">{{ invoice.posted_on }}</td>

		</tr>
		{% endfor %}
	</table>
</div>

<script>
	function ExportToExcel(type, fn, dl) {
		var elt = document.getElementById("report");
		var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
		return dl
			? XLSX.write(wb, { bookType: type, bookSST: true, type: "base64" })
			: XLSX.writeFile(wb, fn || "PurchaseInvoices." + (type || "xlsx"));
	}
</script>
{% endblock %}
