:root {
    --gold: rgb(230, 183, 122);
    --brown: #272624;
    --light: #ffffff;
    font-family: 'Lora', serif;
    margin-left: -8px;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* These are all the main sections/divisions of the index page
Smaller parts of the page are styled below */
#first {
    margin-top: -5vh;
    height: 105vh;
    background: var(--brown);
    display: grid;
    grid-template-rows: 30vh 20vh 35vh;
    width: 100vw;
    margin-left: 0;
}

#second {
    height: 80vh;
    width: 100vw;
    margin-left: 0;
}

/* This is the image the building between the second and third sections */
img[alt='building'] {
    height: 100%;
    width: 100vw;
    margin-left: 0px;
    object-fit: cover;
}

#third {
    height: fit-content;
    width: 100vw;
    margin-left: 0;
    padding-bottom: 10vh;
}

#fourth {
    height: 80vh;
    background: var(--brown);
    width: 100vw;
    margin-left: 0;
}

#fifth {
    height: 30vh;
    width: 100vw;
    margin-left: 0;
}

#aboutUs {
    width: 70vw;
    min-height: 60vh;
    height: fit-content;
    border: 2px solid var(--gold);
    margin-left: auto;
    margin-right: auto;
    margin-top: -20vh;
    display: grid;
    grid-template-rows: 20vh auto;
}

#first :is(h1, h2){
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#first p {
    color: var(--gold);
    width: 70%;
    margin: auto;
    margin-top: 8%;
    font-size: larger;
}

#first h1 {
    color: var(--light);
    font-size: 3em;
    font-weight: 100;
}

#aboutUs :is(h3, p) {
    margin-left: 20%;
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;
    line-height: 3rem;
    font-weight: 100;
}

h2, h3 {
    color: var(--gold);
}

#aboutUs p {
    color: var(--brown);
    font-size: larger;
    font-weight: 100;
}

#heading {
    height: 25vh;
    margin-top: 4vh;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25% 75%;
}

#heading img[alt='No Variance Logo']{
    height: 20vh;
    width: 10vw;
    margin-left: 12vw;
    margin-top: 2vh;
}

#heading #navbar-container {
    width: 75vw;
    margin: auto;
    margin-top: 10vh;
    height: 100%;
}

#navbar {
    width: 65%;
    height: 30%;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
}

div.navbar-option {
    border: 0.8px solid var(--light);
}

#navbar-container #navbar .navbar-option p {
    font-size: medium;
    text-align: center;
    color: var(--light) !important;
}


/* Our Services / third section of index page */
div#third h3 {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

div#services {
    display: grid;
    grid-template-columns: 60vw;
    grid-template-rows: auto;
}

div.service {
    display: grid;
    grid-template-columns: 15vw 45vw;
    width: 100%;
    margin-left: 20vw;
    margin-top: 5vw;
    text-align: center;
    line-height: 3rem;
    padding-top: 8vh;
    border-top: 2px solid var(--brown)
}

div.service#first-service {
    margin-top: 0;
}

.service-head, .service-content {
    margin-top: auto;
    margin-bottom: auto;
}

/* The is the fourth section, giving login details for an exmaple */

div#fourth h3 {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    height: 10%;
    padding-top: 5vh;
    color: var(--gold);
    font-weight: lighter;
}

div#fourth h2 {
    width: 70%;
    height: 80%;
    line-height: 3rem;
    color: var(--light);
    text-align: center;
    font-weight: lighter;
    margin: auto;
}

span.example {
    display: block;
    margin-top: 10vh;
    color: var(--gold)
}

div#fifth h3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: var(--dark);
    font-weight: lighter;
    padding-top: 10vh;
}

a {
    text-decoration: none;
}

button#goToTopButton {
    position: fixed;
    bottom: 5vh;
    width: 10vw;
    height: 5vh;
    margin-left: 87vw;
    border-radius: 30px;
    border-color: var(--gold);
    background-color: var(--brown);
    color: var(--gold);
    cursor: pointer;
}