@import "./new-main.css";

* {
    font-weight: normal;
}

#heading {
	height: 17.5vh;
    /* position: fixed; */
    top: 0px;
}

#heading-top {
	display: grid;
	height: 100%;
	grid-template-columns: 50vw auto;
	text-align: center;
	padding: 10px;
}

#heading-top div {
	height: 100%;
}

div#nav {
	grid-template-columns: repeat(5, auto);
}

#body {
    margin-top: -5vh;
	min-height: 100vh;
    display: grid;
    width: 100vw;
    grid-template-columns: auto auto;
}

.headline {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

div span.large-text h1 {
    font-size: clamp(1rem,4vw,2.3rem);
}
