/* Importing css that is shared between the desktop and mobile css designs, such as colours */
@import "styles.css";


img[alt="Basic Accounting Logo"] {
    margin-left: -75vw;
    margin-top: -15vh;
    height: 10vh;
}

body {
    display: grid;
    grid-template-rows: 25vh auto;
    background-color: var(--light);
}

div#root div:has(h3){
    width: 40vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div#root div h3 {
    line-height: 2rem;
    font-size: medium;
}

#heading {
    display: grid;
    grid-template-rows: auto auto;
    background-color: var(--dark);
    text-align: center;
    color: var(--light);
    width: 100vw;
    box-shadow: var(--shadow);
    padding-top: 3%;
    padding-bottom: 1%;
}

#main {
    display: grid;
    grid-template-columns: 20vw auto;
}

/* ------------------------------------------------------------------- */
/* Navigation section on left of screen for desktop */
#nav {
    min-height: 75vh;
    height: fit-content;
    background-color: var(--light);
    margin-left: -5%;
}

#navBar {
    background-color: var(--light);
    min-height: 75vh;
    height: fit-content;
    display: grid;
    grid-template-rows: 10vh auto auto auto auto;
    /* Always keeps this gap between rows */
    row-gap: 5vh;
}

.navOption {
    text-align: center;
    min-width: 15vw;
    width: fit-content;
    min-height: 6.5vh;
    height: fit-content;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background: var(--light);
    color: var(--dark);
    box-shadow: var(--shadow);
    border-radius: 30px;
    padding-top: 1.5vh;
}

.navOption:hover {
    cursor: pointer;
}

a.menuOption {
    line-height: 2em;
}

/* ------------------------------------------------------------------- */

#data {
    height: 75vh;
    background-color: var(--light);
}

/* Graphs or tables should have border */
#graph, table {
    margin-top: 2%;
    box-shadow: var(--shadow);
    text-align: center;
}

a {
    color: var(--dark);
    text-decoration: none;
}

a:hover {
    color: var(--tableBorder);
    text-decoration: underline;
}

button {
    margin-top: 2%;
    margin-left: 10vw;
    min-width: 10vw;
    width: fit-content;
    background: var(--dark);
    color: var(--light);
    border-color: var(--dark);
}
form[method="post"] button#submitButton {
    margin: auto;
    width: 10vw;
    margin-left: 10vw;
    margin-top: 2%;
}
button:hover {
    background: var(--light);
    color: var(--dark);
    border-color: var(--dark);
}

input {
    text-align: center;
    margin-top: 5%;
}

input[type="password"],
input[type="email"],
input[type="name"],
input[type="invoice"],
input[type="journal"],
input[type="date"],
input[type="budget"],
select.invoice,
select.adminLevelSelect,
select:focus,
input::placeholder,
input:focus {
    background-color: var(--light);
    color: var(--dark);
    border-color: var(--dark);
    margin: auto;
}
input[type="invoice"],
input[type="journal"],
input[type="date"],
select.invoice,
select.adminLevelSelect {
    margin: auto;
    border: 1px solid var(--tableBorder);
    width: 80%;
    text-align: center;
}
input[type="budget"] {
    width: 100%;
}
select.adminLevelSelect {
    margin-top: 5%;
    width: 13vw;
    border: 2px solid var(--dark);
    text-align: center;
}
input#number_of_rows,
input[name="number_of_rows"],
input[name="debitTotal"],
input[name="creditTotal"],
input[name="period"],
input[name="year"] {
    display: none;
}

form#form div.row div.col input {
    margin-top: 3%;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-top: 2%;
    color: var(--dark);
}

table#bodyTable tr td input {
    margin: auto;
    width: 100%;
    background: var(--light);

}

table#journalHead {
    width: 80%;
}
table#budgetTable {
    width: 90%;
}
table#pnlSettings,
table#invoicesReport {
    width: 20%;
    height: 10%;
    margin: 0;
    margin-top: 2%;
    margin-left: 10%;
    text-align: center;
}

tr.trialBalance td,
tr.trialBalance th,
table#journalTable td {
    border: 1px solid var(--tableBorder);
    text-align: center;
}

td {
    padding: 1%;
}

th.customer_address {
    width: 30%;
}

th.invoiceHeader {
    width: 14%;
}
th.invoiceHeaderDescription {
    width: 44%;
}


@keyframes error {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(1deg);
    }
    75% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.error {
    animation-name: error;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
}

div.changePassword {
    width: 20vw;
    height: 4vh;
    margin-top: 2vh;
    margin-left: 26vw;
    text-align: center;
}

.summaryRow {
    font-weight: bold;
}

.helpBody,
.helpHead {
    margin: auto;
    border: 3px solid var(--dark);
}

.helpHead {
    line-height: 7vh;
    height: 8vh;
    width: 60vw;
    margin-top: 2vh;
    text-decoration: underline;
}
.helpHead:hover {
    cursor: pointer;
}
.helpBody {
    width: 50vw;
    margin-top: 1px;
    display: none;
}

footer {
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    width: 100vw;
    margin-left: -20vw;
    padding: 5vh;
    z-index: 5;
}

.bankRecInput {
    background-color: var(--light);
    color: var(--dark);
    border-color: var(--dark);
    width: 10vw;
    border: 0px;
}

table[name="unpaid_invoices"] {
    width: 60vw;
    text-align: center;
}

div#colorSetter{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    align-items: center;
    margin: auto;
}
div#colorSetter select{
    margin-top: 5vh;
}
div#colorSetter button{
    margin-top: 1vh;
    margin: auto;
}

form#form div {
    display: grid;
    grid-template-rows: auto auto auto auto auto ;
    grid-template-columns: auto;

}

.loginItem {
    text-align: center;
}

.loginItem input {
    margin-top: 3%;
}

button[name="signinButton"] {
    margin-right: auto;
    margin-left: auto;
}


/* ---------------------------------------------------------------------------------- */
/* Help Page re-design for desktop */

div.helpHead {
    margin-top: 5vh;
    width: 45vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



div.helpBody {
    width: 35vw;
    padding: 2vh 5vw 2vh 5vw;
    text-align: center;
}
/* ---------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------- */
/* Admin Form */
#adminForm {
    display: grid;
    align-items: center;
    grid-template-columns: 0vw auto auto auto auto auto !important;
    column-gap: auto;
    width: 80%;
    margin-left: 10%;
}

#adminForm div {
    margin-top: 2vh;
    width: 11vw !important;
}

#adminForm div button{
    width: 100% !important;
    margin-left: 0;
}

select.adminLevelSelect{
    width: 40vw;
}

div#adminSection div{
    margin-top: 2%;
    align-items: center;
}

div#adminSection div * {
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/* ---------------------------------------------------------------------------------- */

/* Create nominal account part of admin - don't show bullet points */
/* Still has default padding & margin without bullet points, so these are corrected */
div#nominalGuide ul li {
    list-style-type: none;
}
div#nominalGuide ul{
    margin: 0;
    padding: 0;
}

/* Hover over the info icons to get detailed info about each nominal guide option */
.infoIcon {
    width: 2vw !important;
}

/* This is the logo in the top left corner of the screen */
img[alt='New Ceiling Logo'] {
    width: 20vw;
    height: 20vh;
    margin-left: -70vw;
    margin-top: -15vh;
}