@import "./new-main.css";

:root {
    --third: #32fca7;
    scroll-behavior: smooth;
}

* {
    font-weight: normal;
    font-size: clamp(1rem, 4vw, 2rem);
}

#heading {
    height: 17.5vh;
    /* position: fixed; */
    top: 0px;
}

#heading-top {
    display: grid;
    height: 100%;
    grid-template-columns: 50vw auto;
    text-align: center;
    padding: 10px;
}

#heading-top div {
    height: 100%;
}

div#nav {
    grid-template-columns: repeat(4, auto);
    z-index: 50;
}

.nav-option {
    font-size: smaller;
}

#body {
    margin-top: -5vh;
    min-height: 100vh;
    width: 100vw;
    grid-template-columns: 100vw;
}

.headline {
    height: 50vh;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10vw;
}

.headline h3 {
    width: 100%;
    margin-top: 3vh;
    left: 0px;
}

div span.xl-text h1 {
    width: 100vw;
    margin-top: 25vh;
    font-size: clamp(2rem, 6vw, 3.1rem);
}

div span.large-text h1 {
    margin-top: 3vh;
    font-size: clamp(1.8rem, 4vw, 2em);
    text-align: center;
    margin-left: auto;
}

img[alt="Calculator"] {
    width: 100vw;
    height: 82.5vh;
}

.empty {
    width: 100vw;
    /* border: 2px solid green; */
    height: 60vh;
    grid-template-columns: auto;
}

.actions {
    min-height: 60vh;
    height: fit-content;
    width: 100vw;
    /* border: 2px solid red; */
    text-align: center;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.actions .action {
    margin-top: 7vh;
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    align-items: center;
    text-align: center;
}

ul li {
    margin-top: 3vh;
    margin-left: 4vw;
}

span.bright-button button {
    height: fit-content;
    padding: 3vh 5vw 3vh 5vw;
    background-color: var(--third);
    color: var(--primary);
    border-radius: 30px;
}

span.bright-button a button:not([type="submit"]) {
    margin-left: -85vw;
    margin-top: 15vh;
}

div:has(div.body-node.example) {
    margin-top: -14vh;
}

div:has(.body-node.example) {
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2vw;
    align-items: center;
}

.body-node.example {
    min-width: 20vw;
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: 2rem 2rem 2rem 2rem;
    row-gap: 3vh;
}

div.example-row {
    height: 2rem;
    width: 100%;
    margin-left: 6vw;
    border-radius: 30px;
    background-color: rgba(201, 191, 191, 0.411);
}

.body-node.example div.example-row.text {
    background-color: var(--primary);
}

a.signup-button button {
    width: fit-content;
    padding: 1vh 5vw 1vh 5vw;
    margin-top: 6vh;
    margin-bottom: 15vh;
}

@media screen and (max-width: 600px) {
    div#body div:nth-of-type(1) {
        order: 1;
    }

    div#body div:nth-of-type(2) {
        order: 2;
    }

    div#body div:nth-of-type(3) {
        order: 4;
    }

    div#body div:nth-of-type(4) {
        order: 3;
    }

    div#body div:nth-of-type(5) {
        order: 5;
    }

    div#body div:nth-of-type(6) {
        order: 7;
    }

    div#body div:nth-of-type(7) {
        order: 6;
    }

    div#body div:nth-of-type(8) {
        order: 8;
    }
}
