:root {
  --grey-100: #212529;
  --grey-80: #343a40;
  --grey-60: #6c757d;
  --grey-40: #adb5bd;
  --grey-20: #dee2e6;
  --color-100: #ED254E;
  --color-80: #48e5eb;
  --color-60: #F4FFFD;
  --dark-text: #dee2e6;
}

* {
  font-size: clamp(1rem, 1.1vw, 2rem);
}

.nav-container {
  grid-template-rows: 100% auto;
  margin-left: auto;
  margin-right: auto;
}
.nav-container div#nav {
  display: none;
  grid-template-columns: repeat(4, auto);
  width: 100vw;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 17.5vh;
  border-top: 1px solid var(--color-80);
}
.nav-container div#nav-lines {
  display: grid;
  width: 50px;
  height: 30px;
  margin: auto;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  row-gap: 5px;
}
.nav-container div#nav-lines div.nav-line {
  background: var(--grey-20);
  width: 50%;
  height: 4px;
  border-radius: 2px;
}

.nav-option {
  padding: 2px;
}

#heading-top {
  grid-template-columns: 60vw auto;
}

.loggedIn#heading {
  grid-template-rows: 15vh;
  height: 15vh;
}
.loggedIn#heading-bottom {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 10vh;
  bottom: 0;
  position: fixed;
  margin-top: 90vh;
  width: 100vw;
  border-top: 1px solid var(--grey-20);
  left: 0;
  height: 10vh;
  background: var(--grey-100);
}
.loggedIn#heading-bottom #user {
  display: none;
}
.loggedIn .nav-container {
  width: 50vw;
}
.nav-container .loggedIn#nav {
  grid-template-columns: 100vw;
  grid-template-rows: repeat(3, 8vh);
  width: 100vw;
  position: absolute;
  left: 0;
  top: 15vh;
  margin-top: 0;
  height: 24vh;
  border-top: 1px solid var(--grey-20);
  border-bottom: 1px solid var(--grey-20);
}
.nav-container .loggedIn#nav .nav-option {
  width: 100vw;
}
.nav-container .loggedIn#nav :not(:nth-child(3)) {
  border-bottom: 2px solid var(--grey-80);
}
.loggedIn.sub-menu {
  grid-template-columns: repeat(2, 45vw);
  row-gap: 2vh;
  width: 90vw;
  max-height: 80vh;
  height: fit-content;
  position: absolute;
  margin: 0 auto 0 5vw;
  bottom: 105%;
  padding: 3vh 0 3vh 0;
  border: 1px solid var(--color-80);
  z-index: 100;
}
.loggedIn.sub-menu.sales, .loggedIn.sub-menu.purchase, .loggedIn.sub-menu.financial, .loggedIn.sub-menu.other {
  grid-column: 1;
}

#toggle-button {
  display: none;
}

#body {
  padding-bottom: 20vh;
}

table.report#report tbody tr, table.report#table tbody tr, table.report#nominalTransactions tbody tr {
  padding: 2vw;
}
table.report#report tbody tr .no-mobile, table.report#table tbody tr .no-mobile, table.report#nominalTransactions tbody tr .no-mobile {
  display: none !important;
}
table.report#report tbody tr th, table.report#report tbody tr td, table.report#table tbody tr th, table.report#table tbody tr td, table.report#nominalTransactions tbody tr th, table.report#nominalTransactions tbody tr td {
  font-size: small;
}

div:has(.invoice-body) {
  margin-left: auto;
  margin-right: auto;
}

.invoice-body {
  row-gap: 3vh;
}
.invoice-body .invoiceRow div {
  word-wrap: break-word;
  font-size: clamp(1rem, 2.5vw, 2rem);
}
.invoice-body .invoiceRow:nth-of-type(2) {
  margin-top: 4vh;
}

div#top-clients {
  width: 85vw;
}

.body-node {
  width: 85vw;
}

.body-node:has(div.loginItem) {
  margin-top: -2rem;
}

/*# sourceMappingURL=mobile_nav.css.map */
