{% extends "blueprint.html" %} {% block body %}
		<div id="heading" class="conatiner">
			<h1><u>{{company}}</u></h1>
			<h2>Batched Journals</h2>
		</div>
		<div class="flex-column"></div>
		<div id="main" class="container-fluid">
			<div class="row">
				<div id="nav" class="col-3 m-0 p-0"></div>
				<div id="data" class="col-9">
					<form method="post">
						<div class="container">
							<div class="col-5">
								<button type="submit">Post Reversals</button>
							</div>
						</div>
						<table>
							<tr>
								<th>Nominal Code</th>
								<th>Period</th>
								<th>Description</th>
								<th>Debit</th>
								<th>Credit</th>
							</tr>
							{% for journal in journals %}
							<tr>
								<td>{{journal.nominal_code}}</td>
								<td>{{journal.accounting_period}}</td>
								<td>{{journal.description}}</td>
								<td>{{journal.debit}}</td>
								<td>{{journal.credit}}</td>
							</tr>
							{% endfor %}
						</table>
					</form>
				</div>
			</div>
		</div>
		<script src="{{ url_for('static', filename='react/compiled/navigation.js') }}"></script>
		<script src="{{ url_for('static', filename='js/navDropdown.js') }}"></script>
		{% endblock %}
