* {
	font-size: clamp(1rem, 4vw, 2rem);
}

.nav-container {
	grid-template-rows: 100% auto;
	margin-left: auto;
	margin-right: auto;

	div#nav {
		display: none;
		grid-template-columns: repeat(4, auto);
		width: 100vw;
		height: 50px;
		position: absolute;
		left: 0px;
		top: 0px;
		margin-top: 17.5vh;
		border-top: 1px solid var(--fontColor);
	}

	div#nav-lines {
		display: grid;
		width: 50px;
		height: 30px;
		margin: auto;
		grid-template-columns: auto;
		grid-template-rows: repeat(3, auto);
		row-gap: 5px;

		div.nav-line {
			background: var(--fontColor);
			width: 50%;
			height: 4px;
			border-radius: 2px;
		}
	}
}

.nav-option {
	padding: 2px;
}

// Apply the following styles only to logged in Mobile
.loggedIn {
	&#heading {
		grid-template-rows: 15vh;
		height: 15vh;
	}

	&#heading-bottom {
		display: grid;
		grid-template-columns: repeat(4, auto);
		grid-template-rows: 10vh;
		bottom: 0;
		position: fixed;
		margin-top: 90vh;
		width: 100vw;
		border-top: 1px solid var(--fontColor);
		left: 0;
		height: 10vh;
		background: var(--primary);
		//Don't show username
		#user {
			display: none;
		}
	}

	.nav-container {
		width: 50vw;
	}

	.nav-container &#nav {
		display: none;
		grid-template-columns: 100vw;
		grid-template-rows: repeat(3, 8vh);
		width: 100vw;
		position: absolute;
		left: 0;
		top: 15vh;
		margin-top: 0;
		height: 24vh;
		// padding: 3vh 0 3vh 0;
		border-top: 1px solid var(--fontColor);
		border-bottom: 1px solid var(--fontColor);

		.nav-option {
			width: 100vw;
		}

		& :not(:nth-child(3)){
			border-bottom: 2px solid var(--second);
		}
	}

	&.sub-menu {
		grid-template-columns: repeat(2, 50vw);
		// grid-auto-rows: 8vh;
		row-gap: 2vh;
		width: 90vw;
		max-height: 80vh;
		height: fit-content;
		position: absolute;
		margin: 0 auto 0 5vw;
		bottom: 105%;
		padding: 3vh 0 3vh 0;
		border: 1px solid var(--third);
		z-index: 100;

		&.sales,
		&.purchase,
		&.financial,
		&.other {
			grid-column: 1;
		}
	}
}

// No toggle on mobile
#toggle-button {
	display: none;
}

// Create extra space at bottom for heading-bottom
#body {
	padding-bottom: 20vh;
}

// Make tables/reports smaller by removing un-important columns
table.report {
	&#report,
	&#table,
	&#nominalTransactions {
		tbody {
			tr {
				.no-mobile {
					display: none !important;
				}
			}
		}
	}
}

// Making add sales/Purchase invoice cleaner on mobile
div:has(.invoice-body) {
	margin-left: auto;
	margin-right: auto;
}

.invoice-body {
	row-gap: 3vh;

	.invoiceRow {
		div {
			word-wrap: break-word;
			font-size: clamp(1rem, 2.5vw, 2rem);
		}

		&:nth-of-type(2) {
			margin-top: 4vh;
		}
	}
}

div#top-clients {
	width: 85vw;
}

// Widen all body nodes
.body-node {
	width: 85vw;
}